@import "../../../scss/outils/variables";

@import "../../../scss/pages/body";

@import "../../../scss/pages/vignette-style";

.page-pp {
  section {
    .principal {
      max-width: 1500px;
      margin: auto;
      margin-top: 100px;
      img {
        width: 100%;
      }
    }
    .n-2 {
      display: flex;
      max-width: 1500px;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      img {
        max-width: 700px;
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 1499px) {
  .page-pp {
    section {
      .n-2 {
        justify-content: center;
      }
    }
  }
}
