html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: #f5f5f5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#page {
  max-width: 1600px;
  margin: auto;
}

.page-pp {
  padding: 50px;
}

.page-pp header {
  z-index: 1000;
  position: fixed;
  margin-top: 31px;
}

.page-pp header a {
  color: #023859;
  font-size: 2.5em;
}

.page-pp section {
  max-width: 1300px;
  margin: auto;
}

.page-pp section h2 {
  margin: auto;
  position: relative;
  font-size: 2.2em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 2%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 80px;
  color: #023859;
  font-family: "Poppins", sans-serif;
  max-width: 300px;
}

.page-pp section h2:after {
  position: absolute;
  content: "";
  left: 30px;
  right: 30px;
  height: 2px;
  bottom: -5px;
  background: #96c6d9;
}

.page-pp section p {
  font-family: "Mukta", sans-serif;
  color: #023859;
  font-size: 1.2em;
  margin: 0px;
  margin-bottom: 8px;
}

.page-pp section p a {
  color: #023859;
  font-weight: bold;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.page-pp section p a:hover {
  color: #025373;
}

.page-pp section .groupe-img-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-pp section .groupe-img-style img {
  max-width: 100%;
  margin-bottom: 40px;
}

.page-pp section .img-style {
  margin-bottom: 40px;
  max-width: 1300px;
}

.page-pp section .img-style img {
  width: 100%;
}

.page-pp section .img-style p {
  margin: auto;
  font-family: "Mukta", sans-serif;
  color: #023859;
  font-size: 1em;
  margin: 0px;
  font-style: italic;
}

.page-pp section .m-top {
  margin-top: 40px;
}

.page-pp section .m-right {
  margin-right: 40px;
}

.page-pp section .delay1 {
  -webkit-animation: wave 0.6s forwards ease-in-out;
          animation: wave 0.6s forwards ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 0;
}

.page-pp section .delay2 {
  -webkit-animation: wave 0.6s forwards ease-in-out;
          animation: wave 0.6s forwards ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
}

.page-pp section .delay3 {
  -webkit-animation: wave 0.6s forwards ease-in-out;
          animation: wave 0.6s forwards ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  opacity: 0;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 655px) {
  .page-pp {
    padding: 20px;
  }
  .page-pp section {
    margin-top: 22px;
  }
  .page-pp section h2 {
    font-size: 2em;
  }
  .page-pp section p {
    font-size: 1em;
  }
}

.page-pp section .img-style {
  margin: auto;
  max-width: 900px;
  margin-bottom: 40px;
}

.page-pp section .m-top {
  margin-top: 40px;
}

.page-pp section #vision {
  max-width: 900px;
  margin: auto;
  height: 600px;
  margin-bottom: 50px;
}

.page-pp section #vision .sketchfab-embed-wrapper {
  max-width: 100%;
  height: 100%;
}

.page-pp section #vision .sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=h&p-3.css.map */