html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: #f5f5f5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#page {
  max-width: 1600px;
  margin: auto;
}

header {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 10px 10px 20px #9b9b9b;
          box-shadow: 10px 10px 20px #9b9b9b;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

header #titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #titre #AD-logo {
  width: 50px;
  border-radius: 25px;
}

header #titre #typo {
  width: 350px;
  height: 35px;
}

header .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

header .openMenu i {
  color: #023859;
}

header .mainMenu {
  width: 600px;
}

header .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

header .mainMenu .closeMenu i {
  color: #023859;
}

header .mainMenu ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .mainMenu ul li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

header .mainMenu ul li .list::after {
  content: "";
  position: absolute;
  background-color: #025373;
  height: 1px;
  bottom: -6px;
  left: 0;
  right: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .mainMenu ul li .list:hover::after {
  right: 0;
}

header .mainMenu ul li a {
  position: relative;
  color: #023859;
}

header .mainMenu ul li a i {
  margin-left: 10px;
  font-size: 1.5rem;
}

header .mainMenu ul li a .fa-facebook-square:hover {
  color: #3b5998;
}

header .mainMenu ul li a .fa-linkedin:hover {
  color: #0e76a8;
}

header .mainMenu ul li a .fa-instagram:hover {
  background: linear-gradient(0.48turn, #833ab4, #fcaf45);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header .mainMenu ul li a .fa-envelope:hover {
  color: black;
}

section {
  margin-top: 100px;
  padding-top: 60px;
  background: #f5f5f5;
}

section h2 {
  margin: auto;
  position: relative;
  font-size: 2.8em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 2%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 5px;
  color: #023859;
  font-family: "Poppins", sans-serif;
  max-width: 380px;
}

section h2:after {
  position: absolute;
  content: "";
  left: 30px;
  right: 30px;
  height: 5px;
  bottom: -5px;
  background: #96c6d9;
}

section h3 {
  color: #023859;
  font-weight: 500;
  text-align: center;
  font-size: 2.2em;
  padding-top: 100px;
  font-family: "Poppins", sans-serif;
}

section .style-pp {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  max-width: 1150px;
}

section a {
  max-width: 330px;
  margin-bottom: 60px;
}

section a img {
  width: 100%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  border-radius: 50px;
  background: #f5f5f5;
  -webkit-box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
  cursor: pointer;
}

section a img:hover {
  border-radius: 50px;
  background: #f5f5f5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section a img:active {
  border-radius: 50px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 10px 10px 20px #d0d0d0, inset -10px -10px 20px #ffffff;
          box-shadow: inset 10px 10px 20px #d0d0d0, inset -10px -10px 20px #ffffff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background: #f5f5f5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
}

footer #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #023859;
}

footer #copyright h6 {
  font-size: 1em;
}

footer h6 {
  margin: 0px;
}

footer h6 a {
  color: #023859;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1049px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section {
    margin-top: 170px;
  }
}

@media screen and (max-width: 655px) {
  header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #titre {
    width: 365px;
  }
  header #titre #typo {
    width: 300px;
    height: 30px;
  }
  header .openMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mainMenu {
    position: relative;
    height: 50vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f5f5f5;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-box-shadow: 10px 10px 20px #d0d0d0;
            box-shadow: 10px 10px 20px #d0d0d0;
  }
  header .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 45px;
  }
  header .mainMenu ul {
    margin-top: 80px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .mainMenu ul li {
    margin-bottom: 20px;
  }
  header .mainMenu ul li .list::after {
    display: none;
  }
  header .mainMenu label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mainMenu label i {
    font-size: 1.5em;
  }
  header input[type="checkbox"]:checked nav {
    width: 205px;
  }
  section {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  section h2 {
    font-size: 2.5em;
  }
  section h3 {
    font-size: 2em;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
            box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
  }
  footer #copyright {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding-left: 70px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .mainMenu .closeMenu {
    top: 38px;
  }
  header #titre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  header #titre #typo {
    display: none;
  }
  header #titre #AD-logo {
    width: 80px;
  }
}
/*# sourceMappingURL=main.css.map */