html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: #f5f5f5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main {
  max-width: 1600px;
  margin: auto;
  margin-top: 20px;
  padding: 120px 40px 40px 40px;
}

header {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

header #titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #titre #AD-logo {
  width: 50px;
  border-radius: 25px;
}

header #titre #typo {
  width: 350px;
  height: 35px;
}

header .icone {
  display: none;
}

header .mainMenu {
  width: 655px;
}

header .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

header .mainMenu .closeMenu i {
  color: #023859;
}

header .mainMenu ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header .mainMenu ul li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

header .mainMenu ul li .list {
  margin-right: 30px;
}

header .mainMenu ul li .list::after {
  content: "";
  position: absolute;
  background-color: #025373;
  height: 1px;
  bottom: -6px;
  left: 0;
  right: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .mainMenu ul li .list:hover::after {
  right: 0;
}

header .mainMenu ul li a {
  position: relative;
  color: #023859;
}

header .mainMenu ul li a i {
  margin-right: 8px;
  font-size: 1.5rem;
}

header .mainMenu ul li a .fa-facebook-square:hover {
  color: #3b5998;
}

header .mainMenu ul li a .fa-linkedin:hover {
  color: #0e76a8;
}

header .mainMenu ul li a .fa-instagram:hover {
  background: linear-gradient(0.48turn, #833ab4, #fcaf45);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header .mainMenu ul li a .fa-envelope:hover {
  color: black;
}

section {
  background: #f5f5f5;
}

section h2 {
  margin: auto;
  position: relative;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 2%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 20px;
  color: #023859;
  font-family: "Poppins", sans-serif;
  max-width: 380px;
}

section h2:after {
  position: absolute;
  content: "";
  left: 30px;
  right: 30px;
  height: 2px;
  bottom: -5px;
  background: #96c6d9;
}

section #tags {
  font-family: "Mukta", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #tags .color-1 {
  background-color: #d1b3f4;
  color: #9b5ae7;
}

section #tags .color-2 {
  background-color: #95efd1;
  color: #18a073;
}

section #tags .color-3 {
  background-color: #efde97;
  color: #cdac20;
}

section #tags .color-4 {
  background-color: #8cd39e;
  color: #378f4d;
}

section #tags .color-5 {
  background-color: #9ea7dd;
  color: #3b4aa7;
}

section #tags .color-6 {
  background-color: #ffff66;
  color: #cccc00;
}

section #tags .color-7 {
  background-color: #efb9bc;
  color: #dc666d;
}

section #tags .color-8 {
  background-color: #eaace3;
  color: #d55bc8;
}

section #tags .tag {
  border-radius: 50px;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 8px;
}

section #tags .tag p {
  margin: 0px;
  padding: 4px 8px;
}

section h3 {
  margin: 40px 0;
  color: #023859;
  font-weight: 500;
  font-size: 1.8em;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

section .style-pp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

section a {
  max-width: 330px;
  margin-bottom: 40px;
  margin-right: 40px;
  border-radius: 20px;
  background: #f5f5f5;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15), -10px -10px 10px #ffffff;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15), -10px -10px 10px #ffffff;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

section a:hover {
  border-radius: 20px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 15px 15px 59px #f0f0f0, inset -15px -15px 59px #fafafa;
          box-shadow: inset 15px 15px 59px #f0f0f0, inset -15px -15px 59px #fafafa;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

section a:active {
  border-radius: 20px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.15), inset -10px -10px 10px #ffffff;
          box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.15), inset -10px -10px 10px #ffffff;
}

section a img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

section a .info-vignettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  padding-top: 8px;
  margin: 0px;
  color: #023859;
}

section a .info-vignettes .info-vignettes-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section a .info-vignettes .info-vignettes-details h4 {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0px;
  font-weight: normal;
}

section a .info-vignettes .info-vignettes-details h4:after {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  height: 1px;
  bottom: 8px;
  background: #96c6d9;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes span {
  margin: 10px 3px;
  border-radius: 20px;
  width: 10px;
  height: 10px;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color1 {
  background: #b0f2b6;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color2 {
  background: #77b5fe;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color3 {
  background: #ff6961;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-1 {
  background-color: #d1b3f4;
  color: #9b5ae7;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-2 {
  background-color: #95efd1;
  color: #18a073;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-3 {
  background-color: #efde97;
  color: #cdac20;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-4 {
  background-color: #8cd39e;
  color: #378f4d;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-5 {
  background-color: #9ea7dd;
  color: #3b4aa7;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-6 {
  background-color: #ffff66;
  color: #cccc00;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-7 {
  background-color: #efb9bc;
  color: #dc666d;
}

section a .info-vignettes .info-vignettes-details .tag-vignettes .color-8 {
  background-color: #eaace3;
  color: #d55bc8;
}

section a .info-vignettes p {
  font-family: "Mukta", sans-serif;
  line-height: 1.1;
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
  font-style: italic;
  margin: 0px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #f5f5f5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15), -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15), -10px -10px 20px #ffffff;
}

footer #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #023859;
}

footer #copyright p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

footer a {
  margin: 0px;
  color: #023859;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

.ancres {
  display: block;
  height: 180px;
  margin-top: -180px;
  visibility: hidden;
}

@media screen and (max-width: 1130px) {
  .site-container {
    overflow: hidden;
  }
  .site-pusher {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 100vh;
  }
  header {
    position: static;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #titre {
    width: 365px;
  }
  header #titre #typo {
    width: 300px;
    height: 30px;
  }
  header .icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
  }
  header .icone i {
    color: #023859;
  }
  header .mainMenu {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 10;
    height: 100%;
    background: #e8e8e8;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  header .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 45px;
  }
  header .mainMenu ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0px;
  }
  header .mainMenu ul li {
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
  }
  header .mainMenu ul li .list {
    margin-right: 0px;
  }
  header .mainMenu ul li .list::after {
    display: none;
  }
  header .mainMenu label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mainMenu label i {
    font-size: 1.5em;
  }
  #page {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: -1;
    -webkit-overflow-scrolling: touch;
  }
  main {
    padding: 40px;
  }
  .site-cache {
    opacity: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .with-sidebar .site-pusher {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  .with-sidebar .site-cache {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}

@media screen and (max-width: 819px) {
  section .style-pp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section a {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 655px) {
  section h3 {
    margin-top: 0px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer #copyright {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 550px) {
  section a {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding-left: 88px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header #titre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  header #titre #typo {
    display: none;
  }
  header #titre #AD-logo {
    width: 50px;
  }
  section h3 {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */