html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: #f5f5f5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#page {
  max-width: 1600px;
  margin: auto;
}

header {
  background: #96c6d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

header #titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #titre #AD-logo {
  width: 50px;
  border-radius: 25px;
}

header #titre #typo {
  width: 350px;
  height: 35px;
}

header nav {
  width: 600px;
}

header nav label {
  display: none;
}

header nav input {
  display: none;
}

header nav ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

header nav ul li .list::after {
  content: "";
  position: absolute;
  background-color: #025373;
  height: 1px;
  bottom: -6px;
  left: 0;
  right: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav ul li .list:hover::after {
  right: 0;
}

header nav ul li a {
  position: relative;
  color: #023859;
  text-shadow: 1px 1px #558abb;
}

header nav ul li a i {
  margin-left: 10px;
  font-size: 1.5rem;
}

section {
  margin-top: 100px;
  padding-top: 60px;
  background: #f5f5f5;
}

section h2 {
  margin: auto;
  position: relative;
  font-size: 2.8em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 2%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 5px;
  color: #023859;
  font-family: "Poppins", sans-serif;
  max-width: 380px;
}

section h2:after {
  position: absolute;
  content: "";
  left: 30px;
  right: 30px;
  height: 5px;
  bottom: -5px;
  background: #96c6d9;
}

section h3 {
  color: #023859;
  font-weight: 500;
  text-align: center;
  font-size: 2.2em;
  padding-top: 100px;
  font-family: "Poppins", sans-serif;
}

section .style-pp {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  max-width: 1150px;
}

section a {
  max-width: 330px;
  margin-bottom: 60px;
}

section a img {
  width: 100%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  border-radius: 50px;
  background: #f5f5f5;
  -webkit-box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
  cursor: pointer;
}

section a img:hover {
  border-radius: 50px;
  background: #f5f5f5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section a img:active {
  border-radius: 50px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 10px 10px 20px #d0d0d0, inset -10px -10px 20px #ffffff;
          box-shadow: inset 10px 10px 20px #d0d0d0, inset -10px -10px 20px #ffffff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background: #96c6d9;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #023859;
}

footer #copyright h6 {
  font-size: 1em;
}

footer h6 {
  margin: 0px;
}

footer h6 a {
  color: #023859;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1049px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section {
    margin-top: 170px;
  }
}

@media screen and (max-width: 655px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #titre {
    width: 365px;
  }
  header #titre #typo {
    width: 300px;
    height: 30px;
  }
  header nav {
    width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
  }
  header nav input[type="checkbox"]:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 20px;
    z-index: 2;
    width: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav input[type="checkbox"] {
    display: none;
  }
  header nav ul {
    position: absolute;
    display: none;
    background-color: #96c6d9;
    right: 0px;
    bottom: -148px;
    font-size: 1.9em;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
  header nav ul li .list::after {
    display: none;
  }
  header nav label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav label i {
    font-size: 1.5em;
  }
  section {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  section h2 {
    font-size: 2.5em;
  }
  section h3 {
    font-size: 2em;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer #copyright {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding-left: 70px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header #titre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  header #titre #typo {
    display: none;
  }
  header #titre #AD-logo {
    width: 80px;
  }
}
/*# sourceMappingURL=main.css.map */