@import "./outils/variables";

@import "./pages/body";

header {
  background: $color-background-primary;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $title-font;
  position: fixed;
  z-index: 1000;
  top: 0px;
  flex-wrap: wrap;
  box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.15);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  #titre {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    justify-content: space-between;
    align-items: center;

    #AD-logo {
      width: 50px;
      border-radius: 25px;
      height: 50px;
    }
    #typo {
      width: 350px;
      height: 33px;
    }
  }

  .icone {
    display: none;
  }

  .mainMenu {
    width: 655px;

    .closeMenu {
      font-size: 2rem;
      display: none;
      cursor: pointer;
      i {
        color: $color-primary;
      }
    }

    ul {
      padding: 0px;
      display: flex;
      width: 100%;

      li {
        list-style-type: none;
        font-size: 1rem;
        font-weight: bolder;
        text-transform: uppercase;

        .list {
          margin-right: 30px;
          &::after {
            content: "";
            position: absolute;
            background-color: #025373;
            height: 1px;
            bottom: -6px;
            left: 0;
            right: 100%;
            transition: 0.5s;
          }
          &:hover::after {
            right: 0;
          }
        }
        a {
          position: relative;
          color: $color-primary;

          i {
            margin-right: 8px;
            font-size: 1.5rem;
          }

          .fa-facebook-square:hover {
            color: #3b5998;
          }
          .fa-linkedin:hover {
            color: #0e76a8;
          }
          .fa-instagram:hover {
            background: linear-gradient(0.48turn, #833ab4, #fcaf45);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
          .fa-envelope:hover {
            color: black;
          }
        }
      }
    }
  }
}

section {
  position: relative;
  background: $color-background-primary;

  #aboutMe {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 40px 40px 30px rgba($color: #000000, $alpha: 0.2);

    .aboutTitle {
      width: 100%;
      min-height: 250px;
      position: relative;

      .fa-times-circle {
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 2em;
        color: $color-primary;
      }
      h3 {
        text-align: center;
        font-weight: bolder;
        font-size: 3em;
      }
    }

    .description {
      width: 50%;
      padding: 32px;
      background-color: $background-color;
      border-bottom-left-radius: 20px;
      p {
        font-family: $general-font;
        font-size: 1.1em;
        color: $color-primary;
      }
    }

    .photoProfil {
      width: 30%;
      height: 50%;
      background-color: white;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  h2 {
    margin: auto;
    position: relative;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 2%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 20px;
    color: $color-primary;
    font-family: $title-font;
    max-width: 380px;
    &:after {
      position: absolute;
      content: "";
      left: 30px;
      right: 30px;
      height: 2px;
      bottom: -5px;
      background: $background-color;
    }
  }

  #tags {
    font-family: $general-font;
    display: flex;
    max-width: 550px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

    .color-1 {
      background-color: #d1b3f4;
      // border: 1px solid darken($color: #d1b3f4, $amount: 20);
      color: #3a2256;
    }
    .color-2 {
      background-color: #95efd1;
      color: #0b5039;
    }
    .color-3 {
      background-color: #efde97;
      color: #50430e;
    }
    .color-4 {
      background-color: #8cd39e;
      // border: 1px solid darken($color: #8cd39e, $amount: 20);
      color: #15391e;
    }
    .color-5 {
      background-color: #9ea7dd;
      color: #121a4e;
    }
    .color-6 {
      background-color: #ffff66;
      color: #585800;
    }
    .color-7 {
      background-color: #efb9bc;
      color: #621e22;
    }
    .color-8 {
      background-color: #eaace3;
      color: #541a4e;
    }

    .tag {
      // width: 140px;
      // border: 1px solid black;
      border-radius: 50px;
      text-align: center;
      margin-right: 8px;
      margin-bottom: 8px;
      p {
        margin: 0px;
        padding: 4px 8px;
      }
    }
  }
  h3 {
    margin: 40px 0;
    color: $color-primary;
    font-weight: 500;
    font-size: 1.8em;
    padding-top: 40px;
    font-family: $title-font;
    width: 100%;
  }
  .style-pp {
    // margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
  }

  a {
    max-width: 330px;
    margin-bottom: 40px;
    margin-right: 40px;
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.15),
      -10px -10px 10px #ffffff;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
      border-radius: 20px;
      background: #f5f5f5;
      box-shadow: inset 15px 15px 59px #f0f0f0, inset -15px -15px 59px #fafafa;
      transition: 0.4s all;
    }
    &:active {
      border-radius: 20px;
      background: #f5f5f5;
      box-shadow: inset 10px 10px 10px rgba($color: #000000, $alpha: 0.15),
        inset -10px -10px 10px #ffffff;
    }
    img {
      width: 100%;
      height: 130px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .info-vignettes {
      display: flex;
      flex-direction: column;
      padding: 16px;
      padding-top: 8px;
      margin: 0px;
      color: $color-primary;

      .info-vignettes-details {
        display: flex;
        justify-content: space-between;
        h4 {
          font-family: $title-font;
          position: relative;
          margin: 0px;
          font-weight: normal;
          &:after {
            position: absolute;
            content: "";
            left: 0px;
            right: 0px;
            height: 1px;
            bottom: 8px;
            background: $background-color;
          }
        }

        .tag-vignettes {
          display: flex;
          // background: red;
          width: 200px;
          justify-content: flex-end;

          span {
            margin: 10px 3px;
            border-radius: 20px;
            width: 10px;
            height: 10px;
          }
          .color1 {
            background: #b0f2b6;
            // border: 1px solid rgba($color: green, $alpha: 0.5);
          }

          .color2 {
            background: #77b5fe;
            // border: 1px solid rgba($color: blue, $alpha: 0.5);
          }

          .color3 {
            background: #ff6961;
            // border: 1px solid rgba($color: red, $alpha: 0.5);
          }

          .color-1 {
            background-color: #d1b3f4;
            // border: 1px solid darken($color: #d1b3f4, $amount: 20);
            color: #3a2256;
          }
          .color-2 {
            background-color: #95efd1;
            color: #0b5039;
          }
          .color-3 {
            background-color: #efde97;
            color: #50430e;
          }
          .color-4 {
            background-color: #8cd39e;

            color: darken($color: #8cd39e, $amount: 30);
          }
          .color-5 {
            background-color: #9ea7dd;
            color: darken($color: #9ea7dd, $amount: 30);
          }
          .color-6 {
            background-color: #ffff66;
            color: darken($color: #ffff66, $amount: 30);
          }
          .color-7 {
            background-color: #efb9bc;
            color: darken($color: #efb9bc, $amount: 20);
          }
          .color-8 {
            background-color: #eaace3;
            color: darken($color: #eaace3, $amount: 20);
          }
        }
      }

      p {
        font-family: $general-font;
        line-height: 1.1;
        font-size: 0.9em;
        padding: 0px;
        margin: 0px;
        font-style: italic;
        margin: 0px;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #f5f5f5;
  flex-wrap: wrap;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.15),
    -10px -10px 20px #ffffff;

  #copyright {
    display: flex;
    align-items: center;
    font-family: $title-font;
    width: 120px;
    justify-content: space-between;
    color: $color-primary;
    p {
      font-family: $title-font;
      font-size: 1em;
    }
  }

  a {
    margin: 0px;
    color: $color-primary;
    font-size: 1.2em;
    font-family: $title-font;
  }
}

.ancres {
  display: block;
  height: 180px;
  margin-top: -180px;
  visibility: hidden;
}

// RESPONSIVE

@media screen and (max-width: 1130px) {
  .site-container {
    overflow: hidden;
  }
  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
    height: 100vh;
  }

  header {
    position: static;
    flex-wrap: nowrap;
    justify-content: space-between;

    #titre {
      width: 365px;
      #typo {
        width: 300px;
        height: 28px;
      }
    }

    .icone {
      display: flex;
      font-size: 2rem;
      margin: 20px;
      cursor: pointer;
      i {
        color: $color-primary;
      }
    }

    .mainMenu {
      position: absolute;
      width: 250px;
      // position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      z-index: 10;
      height: 100%;

      // justify-content: center;
      // align-items: center;
      background: darken($color: $color-background-primary, $amount: 5);
      // transition: top 1s ease;
      // display: none;
      // border-bottom-left-radius: 50px;
      // border-bottom-right-radius: 50px;
      // box-shadow: 10px 10px 20px #d0d0d0;
      transform: translateX(250px);
      transition-duration: 0.3s;

      .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 45px;
      }

      ul {
        width: 100%;
        flex-flow: column;

        margin: 0px;

        li {
          width: 100%;
          height: 72px;
          line-height: 72px;
          text-align: center;
          border-bottom: 1px solid $color-background-primary;
          .list {
            margin-right: 0px;
            &::after {
              display: none;
            }
          }
        }
      }

      label {
        display: flex;

        i {
          font-size: 1.5em;
        }
      }
    }
  }
  #page {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: -1;
    -webkit-overflow-scrolling: touch;
  }
  main {
    padding: 40px;
  }
  .site-cache {
    opacity: 0;
    transition-duration: 0.3s;
  }
  .with-sidebar {
    .site-pusher {
      transform: translateX(-250px);
    }
    .site-cache {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color: #000000, $alpha: 0.4);
      cursor: pointer;
      opacity: 1;
      transition-duration: 0.3s;
    }
  }
}

@media screen and (max-width: 819px) {
  section {
    #aboutMe {
      flex-direction: column;
      flex-wrap: nowrap;
      left: -20px;
      right: -20px;

      .description {
        border-radius: 0;
        width: 100%;
        padding: 16px;
        p {
          font-size: 1em;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
      .photoProfil {
        height: 100%;
      }
    }

    .style-pp {
      justify-content: center;
    }

    a {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 655px) {
  section {
    h3 {
      margin-top: 0px;
    }
  }

  footer {
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

    #copyright {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 550px) {
  section {
    a {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    padding-left: 88px;
    flex-wrap: nowrap;

    #titre {
      justify-content: center;
      width: 100%;
      #typo {
        display: none;
      }
      #AD-logo {
        width: 50px;
        height: 50px;
      }
    }
  }

  section {
    h3 {
      text-align: center;
    }
  }
}
