@import "./outils/variables";

@import "./pages/body";

header {
  background: $background-color;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $title-font;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid #025373;
  box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.3);

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    a {
      color: $color-primary;
      text-shadow: 1px 1px #558abb;
    }
  }

  nav {
    ul {
      display: flex;
      min-width: 450px;
      justify-content: space-between;
      li {
        list-style-type: none;
        font-size: 1rem;
        font-weight: bolder;
        letter-spacing: 0.25rem;

        .list {
          &::after {
            content: "";
            position: absolute;
            background-color: #025373;
            height: 1px;
            bottom: -6px;
            left: 0;
            right: 100%;
            transition: 0.5s;
          }
          &:hover::after {
            right: 0;
          }
        }
        a {
          position: relative;
          color: $color-primary;
          text-shadow: 1px 1px #558abb;

          i {
            margin-left: 10px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

#profile {
  position: relative;
  display: flex;
  background: $background-color;
  height: 1050px;
  z-index: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.3);

  #logo {
    border-radius: 200px;
    margin: auto;
    width: 400px;

    #AD-logo {
      border-radius: 200px;
      width: 100%;
      transition: all ease-in-out 1s 0.2s;

      &:hover {
        opacity: 0;
        transition: all ease-in-out 1s 0.2s;
        transform: rotate(360deg);
      }
    }

    // &::after {
    //   content: "I'm a french product designer, based in Montréal.\A I have a background in mechanical design and product design.\A \AI try, as much as possible, to design my projects with\A an eco-responsible approach, at all stages of the product life,\A and combine technology and aesthetics to achieve \Athe best result for my products.";
    //   white-space: pre;
    //   bottom: 450px;
    //   left: 0px;
    //   position: absolute;
    //   font-family: "Cormorant", serif;
    //   font-size: 1.5em;

    //   color: #025373;
    //   opacity: 0;
    //   transition: all ease-in-out 1s 0.2s;
    //   width: 500px;
    //   // letter-spacing: 0.1rem;
    // }
    // &:hover::after {
    //   transition: all 1s 0.2s ease-in-out;
    //   opacity: 1;
    // }
    #description {
      position: absolute;
      left: 20px;
      bottom: 380px;
      width: 500px;
      font-family: "Cormorant", serif;
      font-size: 1.5em;
      opacity: 0;
    }
    &:hover #description {
      transition: all ease-in-out 1s 0.2s;
      animation: text-transform ease-in-out forwards 2s;
    }
    @keyframes text-transform {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    #photo-id {
      position: absolute;
      bottom: -4px;
      right: 0px;
      opacity: 0;
      img {
        width: 500px;
      }
    }
    &:hover #photo-id {
      // transition: all ease-in-out 2s 0.5s;
      animation: text-transform ease-in-out forwards 2s;
      // opacity: 1;
    }
  }
}

section {
  margin-top: -50px;
  padding-top: 60px;
  padding-bottom: 80px;
  // background: #e0e0e0;
  background: #f5f5f5;

  h2 {
    margin: auto;
    position: relative;
    font-size: 2.8em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 2%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5px;
    color: $color-primary;
    font-family: $title-font;
    max-width: 506px;
    &:after {
      position: absolute;
      content: "";
      left: 30px;
      right: 30px;
      height: 5px;
      bottom: -5px;
      background: $background-color;
    }
  }
  h3 {
    color: $color-primary;
    font-weight: 500;
    text-align: center;
    font-size: 2.2em;
    margin-top: 100px;
    font-family: $title-font;
  }
  .style-pp {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    max-width: 1150px;
  }

  a {
    max-width: 330px;
    img {
      width: 100%;
      margin-bottom: 60px;
      transition: 0.4s all;
      border-radius: 50px;
      background: #f5f5f5;
      box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
      cursor: pointer;
      &:hover {
        border-radius: 50px;
        background: #f5f5f5;
        /* box-shadow: inset 10px 10px 20px #afafaf, inset -10px -10px 20px #ffffff; */
        box-shadow: none;
      }
      &:active {
        border-radius: 50px;
        background: #f5f5f5;
        box-shadow: inset 10px 10px 20px #d0d0d0, inset -10px -10px 20px #ffffff;
      }
    }
  }

  // #e0e0e0
  // #bebebe
}
footer {
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: $background-color;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  #copyright {
    display: flex;
    align-items: center;
    font-family: $title-font;
    width: 120px;
    justify-content: space-between;
    color: $color-primary;
    h6 {
      font-size: 1em;
    }
  }
  h6 {
    a {
      color: $color-primary;
      font-size: 1.2em;
      font-family: $title-font;
    }
  }
}
