@import "./outils/variables";

@import "./pages/body";

header {
  background: #f5f5f5;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $title-font;
  position: fixed;
  z-index: 1000;
  top: 0px;
  flex-wrap: wrap;
  box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.15);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  #titre {
    display: flex;
    flex-wrap: wrap;
    // padding-top: 20px;
    // padding-bottom: 20px;
    width: 410px;
    justify-content: space-between;
    align-items: center;

    #AD-logo {
      width: 50px;
      border-radius: 25px;
    }
    #typo {
      width: 350px;
      height: 35px;
    }
  }

  .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    i {
      color: $color-primary;
    }
  }

  .mainMenu {
    width: 653px;

    .closeMenu {
      font-size: 2rem;
      display: none;
      cursor: pointer;
      i {
        color: $color-primary;
      }
    }

    ul {
      padding: 0px;
      display: flex;
      width: 100%;
      // justify-content: space-between;

      li {
        list-style-type: none;
        font-size: 1rem;
        font-weight: bolder;
        text-transform: uppercase;

        .list {
          margin-right: 30px;
          &::after {
            content: "";
            position: absolute;
            background-color: #025373;
            height: 1px;
            bottom: -6px;
            left: 0;
            right: 100%;
            transition: 0.5s;
          }
          &:hover::after {
            right: 0;
          }
        }
        a {
          position: relative;
          color: $color-primary;

          i {
            margin-right: 8px;
            font-size: 1.5rem;
          }

          .fa-facebook-square:hover {
            color: #3b5998;
          }
          .fa-linkedin:hover {
            color: #0e76a8;
          }
          .fa-instagram:hover {
            background: linear-gradient(0.48turn, #833ab4, #fcaf45);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
          .fa-envelope:hover {
            color: black;
          }
        }
      }
    }
  }
}

// #profile {
//   position: relative;
//   display: flex;
//   background: $background-color;
//   height: 1050px;
//   margin-top: 100px;
//   border-bottom-left-radius: 50px;
//   border-bottom-right-radius: 50px;
//   box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.3);
//   animation: wave 1.5s forwards ease-in-out;
//   // opacity: 0;

//   @keyframes wave {
//     0% {
//       transform: translateY(-1050px);
//       // opacity: 0;
//     }
//     100% {
//       transform: translatex(0px);
//       // opacity: 1;
//     }
//   }

//   #logo {
//     border-radius: 200px;
//     margin: auto;
//     width: 400px;

//     #AD-logo {
//       border-radius: 200px;
//       width: 100%;
//       transition: all ease-in-out 1s 0.2s;

//       &:hover {
//         opacity: 0;
//         transition: all ease-in-out 1s 0.2s;
//         transform: rotate(360deg);
//       }
//     }

//     #description {
//       position: absolute;
//       left: 20px;
//       bottom: 380px;
//       width: 500px;
//       font-family: $general-font;
//       font-size: 1.5em;
//       color: $color-primary;
//       transition: all ease-in-out 0.5s;

//       visibility: hidden;
//       opacity: 0;
//     }
//     &:hover #description {
//       transition: all ease-in-out 2.5s;
//       visibility: visible;
//       opacity: 1;
//     }
//

//     #photo-id {
//       position: absolute;
//       bottom: -4px;
//       right: 0px;
//       opacity: 0;
//       transition: all ease-in-out 0.5s;
//       visibility: hidden;
//       img {
//         width: 500px;
//       }
//     }
//     &:hover #photo-id {
//       // transition: all ease-in-out 2s 0.5s;
//       opacity: 1;
//       transition: all ease-in-out 2.5s;
//       visibility: visible;
//       // opacity: 1;
//     }
//   }
// }

section {
  margin-top: 100px;
  padding: 40px;
  background: #f5f5f5;

  h2 {
    margin: auto;
    position: relative;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 2%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 40px;
    color: $color-primary;
    font-family: $title-font;
    max-width: 380px;
    &:after {
      position: absolute;
      content: "";
      left: 30px;
      right: 30px;
      height: 2px;
      bottom: -5px;
      background: $background-color;
    }
  }
  h3 {
    margin: 40px 0;
    color: $color-primary;
    font-weight: 500;
    font-size: 1.8em;
    padding-top: 40px;
    font-family: $title-font;
    width: 100%;
  }
  .style-pp {
    // margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
  }

  a {
    max-width: 330px;
    margin-bottom: 40px;
    margin-right: 40px;
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.15),
      -10px -10px 10px #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      border-radius: 20px;
      background: #f5f5f5;
      box-shadow: inset 15px 15px 59px #f0f0f0, inset -15px -15px 59px #fafafa;
      transition: all 0.4s;
    }
    &:active {
      border-radius: 20px;
      background: #f5f5f5;
      box-shadow: inset 10px 10px 10px rgba($color: #000000, $alpha: 0.15),
        inset -10px -10px 10px #ffffff;
      transition: 0.4 all;
    }
    img {
      width: 100%;
      height: 130px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .info-vignettes {
      display: flex;
      flex-direction: column;
      padding: 16px;
      padding-top: 8px;
      margin: 0px;
      color: $color-primary;

      .info-vignettes-details {
        display: flex;
        justify-content: space-between;
        h4 {
          font-family: $title-font;
          position: relative;
          margin: 0px;
          font-weight: normal;
          &:after {
            position: absolute;
            content: "";
            left: 0px;
            right: 0px;
            height: 1px;
            bottom: 8px;
            background: $background-color;
          }
        }

        .tag-vignettes {
          display: flex;
          // background: red;
          width: 200px;
          justify-content: flex-end;

          span {
            margin: 10px 3px;
            border-radius: 20px;
            width: 10px;
            height: 10px;
          }
          .color1 {
            background: #b0f2b6;
            // border: 1px solid rgba($color: green, $alpha: 0.5);
          }

          .color2 {
            background: #77b5fe;
            // border: 1px solid rgba($color: blue, $alpha: 0.5);
          }

          .color3 {
            background: #ff6961;
            // border: 1px solid rgba($color: red, $alpha: 0.5);
          }
        }
      }

      p {
        font-family: $general-font;
        line-height: 1.1;
        font-size: 0.9em;
        padding: 0px;
        margin: 0px;
        font-style: italic;
        margin: 0px;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #f5f5f5;
  flex-wrap: wrap;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.15),
    -10px -10px 20px #ffffff;

  #copyright {
    display: flex;
    align-items: center;
    font-family: $title-font;
    width: 120px;
    justify-content: space-between;
    color: $color-primary;
    h6 {
      font-size: 1em;
    }
  }
  h6 {
    margin: 0px;
    a {
      color: $color-primary;
      font-size: 1.2em;
      font-family: $title-font;
    }
  }
}

// RESPONSIVE

@media screen and (max-width: 1060px) {
  header {
    justify-content: center;
  }

  section {
    margin-top: 170px;
  }
}

@media screen and (max-width: 819px) {
  section {
    .style-pp {
      justify-content: center;
    }

    a {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 655px) {
  header {
    flex-wrap: nowrap;
    justify-content: space-between;

    #titre {
      width: 365px;
      #typo {
        width: 300px;
        height: 30px;
      }
    }

    .openMenu {
      display: flex;
    }

    .mainMenu {
      position: relative;

      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      width: 100vw;
      justify-content: center;
      align-items: center;
      background: #f5f5f5;
      transition: top 1s ease;
      display: none;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 10px 10px 20px #d0d0d0;

      .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 45px;
      }

      ul {
        margin-top: 30px;
        width: 100%;
        flex-flow: column;
        align-items: center;
        margin-bottom: 0px;

        li {
          margin-bottom: 30px;
          .list {
            margin-right: 0px;
            &::after {
              display: none;
            }
          }
        }
      }

      label {
        display: flex;

        i {
          font-size: 1.5em;
        }
      }
    }
    input[type="checkbox"]:checked nav {
      width: 205px;
    }
  }

  section {
    margin-top: 80px;

    h3 {
      margin-top: 0px;
    }
  }

  footer {
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

    #copyright {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 550px) {
  section {
    a {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    padding-left: 88px;

    flex-wrap: nowrap;

    // .mainMenu {
    //   .closeMenu {
    //     top: 38px;
    //   }
    // }

    #titre {
      justify-content: center;
      width: 100%;
      #typo {
        display: none;
      }
      #AD-logo {
        width: 50px;
      }
    }
  }

  section {
    h3 {
      text-align: center;
    }
  }
}
