@import "../outils/variables";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#page {
  max-width: 1600px;
  margin: auto;
}
