@import "../../scss/outils/variables";

body {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 32px;

  .image {
    max-width: 1200px;

    img {
      width: 100%;
    }
  }
}
