@import "../../../scss/outils/variables";

@import "../../../scss/pages/body";

header {
  z-index: 1000;
  position: fixed;

  a {
    color: $color-primary;
    font-size: 2.5em;
  }
}

.page-pp {
  padding: 50px;
  // header {
  //   z-index: 1000;
  //   position: fixed;
  //   a {
  //     color: $color-primary;
  //     font-size: 2.5em;
  //   }
  // }

  section {
    margin-top: 100px;
    h2 {
      margin: auto;
      position: relative;
      font-size: 2.8em;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 2%;
      text-align: center;
      margin-top: 0%;
      margin-bottom: 5px;
      color: $color-primary;
      font-family: $title-font;
      max-width: 300px;
      &:after {
        position: absolute;
        content: "";
        left: 30px;
        right: 30px;
        height: 5px;
        bottom: -5px;
        background: $background-color;
      }
    }
    #info {
      padding: 20px;
      margin-top: 50px;

      h3 {
        color: $color-primary;

        text-align: center;
        font-size: 2em;
        font-weight: bold;
        font-family: $general-font;
      }
    }

    p {
      font-family: $general-font;
      text-align: center;
      color: $color-primary;
      font-size: 1.5em;

      a {
        color: $color-primary;
        font-weight: bold;
        text-decoration-line: underline;
        &:hover {
          color: $color-secondary;
        }
      }
    }

    #n1 {
      margin: auto;
      margin-bottom: 50px;
      margin-top: 50px;
      max-width: 790px;

      img {
        width: 100%;
      }
    }

    #n2-3 {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      #n2 {
        max-width: 790px;
      }
      img {
        margin-bottom: 50px;
        max-width: 100%;
        box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.3);
      }
    }

    .delay1 {
      animation: wave 0.6s forwards ease-in-out;
      animation-delay: 0s;
      opacity: 0;
    }
    .delay2 {
      animation: wave 0.6s forwards ease-in-out;
      animation-delay: 0.3s;
      opacity: 0;
    }
    .delay3 {
      animation: wave 0.6s forwards ease-in-out;
      animation-delay: 0.6s;
      opacity: 0;
    }
    @keyframes wave {
      0% {
        transform: translateY(-30px);
        opacity: 0;
      }
      100% {
        transform: translatex(0px);
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1049px) {
  header {
    justify-content: center;
  }
}

@media screen and (max-width: 655px) {
  header {
    justify-content: space-between;
    #titre {
      width: 365px;
      #typo {
        width: 300px;
        height: 30px;
      }
    }
    nav {
      width: 25px;
      display: flex;
      margin-right: 20px;

      input[type="checkbox"]:checked + ul {
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
        z-index: 2;
        width: 200px;
        align-items: center;
      }

      input[type="checkbox"] {
        display: none;
      }

      ul {
        position: absolute;
        display: none;
        background-color: $background-color;
        right: 0px;
        bottom: -148px;
        font-size: 1.9em;
        box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 0.3);

        li {
          .list {
            &::after {
              display: none;
            }
          }
        }
      }

      label {
        display: flex;

        i {
          font-size: 1.5em;
        }
      }
    }
  }
  .page-pp {
    padding: 20px;

    section {
      margin-top: 50px;
      h2 {
        font-size: 2em;
      }

      #info {
        h3 {
          font-size: 1.4em;
        }
      }

      p {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    padding-left: 70px;

    flex-wrap: nowrap;
    #titre {
      justify-content: center;
      width: 100%;
      #typo {
        display: none;
      }
      #AD-logo {
        width: 80px;
      }
    }
  }
}
