// FONT

$title-font: "Poppins", sans-serif;
$general-font: "Mukta", sans-serif;

// COLOR

$background-color: #addbea;
$color-background-primary: #f5f5f5;
$color-primary: #023859;
$color-secondary: #025373;

// addbea

// 96c6d9
