// FONT

$title-font: "Poppins", sans-serif;
$general-font: "Baloo Tammudu 2", cursive;
// "Cormorant", serif
// COLOR

$background-color: #96c6d9;
$color-primary: #023859;
$color-secondary: #025373;
