@import "../../../scss/outils/variables";

@import "../../../scss/pages/body";

@import "../../../scss/pages/vignette-style";

.page-pp {
  section {
    .img-style {
      margin: auto;
      max-width: 500px;
      margin-bottom: 40px;
    }

    .m-top {
      margin-top: 40px;
    }

    .groupe-img-style {
      margin-bottom: 40px;
      height: auto;

      .groupe-img-style-binome {
        max-width: 406px;

        img {
          max-width: 100%;
          margin-bottom: 0px;
        }
      }
      .m-bottom {
        margin-bottom: 40px;
      }
      p {
        width: 100%;
      }

      .m-right-2 {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1397px) {
  .page-pp {
    section {
      .groupe-img-style {
        // // width: 892px;
        // margin: auto;
        // margin-bottom: 40px;
        // justify-content: center;
        .m-bottom {
          margin-bottom: 40px;
        }
        .m-right-2 {
          margin-right: 40px;
        }
        // .m-bottom-2 {
        //   margin-bottom: 40px;
        // }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .page-pp {
    section {
      .groupe-img-style {
        .m-bottom-2 {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .page-pp {
    section {
      .groupe-img-style {
        .m-right-2 {
          margin-right: 0;
        }
        .m-right {
          margin-right: 0;
        }
      }
    }
  }
}
