@import "../../../scss/outils/variables";

@import "../../../scss/pages/body";
@import "../../../scss/pages/vignette-style";

.page-pp {
  section {
    .img-style {
      margin: auto;
      max-width: 1300px;
      margin-bottom: 40px;
    }

    .m-top {
      margin-top: 40px;
    }

    .groupe-img-style {
      margin-bottom: 40px;

      .groupe-img-style-binome {
        max-width: 630px;

        img {
          max-width: 100%;
          margin-bottom: 0px;
        }
      }
      .m-bottom {
        margin-bottom: 0px;
      }
    }
    #video-style {
      max-width: 630px;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;

      video {
        width: 100%;
        justify-content: center;
      }
    }

    .promo {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      margin: auto;
      margin-top: 64px;
      width: 1300px;
      text-transform: uppercase;
      text-align: center;
      i {
        margin: auto;
        width: 50px;
        color: $color-primary;
      }
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  .page-pp {
    section {
      .groupe-img-style {
        .m-bottom {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .page-pp {
    section {
      .groupe-img-style {
        .m-right {
          margin-right: 0px;
        }
      }
    }
  }
}
